pkgbase = ditana-ramdisk
	pkgdesc = Ditana RAM disk service
	pkgver = 1.005
	pkgrel = 1
	url = https://ditana.org
	install = ditana-ramdisk.install
	arch = any
	license = AGPL-3.0-or-later AND LGPL-2.1-or-later AND CC0-1.0 AND GPL-2.0-or-later AND MIT-0
	depends = systemd
	source = ditana-ramdisk.service
	source = ramdisk.sh
	source = 90-ditana-ramdisk.conf
	source = ditana-ramdisk.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ditana-ramdisk
